In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
for i in range(70, 90):
    url = 'https://www.iqair.com/world-most-polluted-cities?page=' + str(i) + '&perPage=50&cities='
    html = requests.get(url)
    with open('./data/page' + str(i) + '.html','wb') as fd:
        fd.write(html.content)

In [2]:
cities = []
avg_2020 = []
january = []
february = []
march = []
april = []
may = []
june = []
july = []
august = []
september = []
october = []
november = []
december = []
avg_2019 = []
for i in range(1, 90):
    f = open("./data/page" + str(i) + ".html", "rb")
    file = f.read()
    soup = BeautifulSoup(file,"html.parser")
    table = soup('table',attrs={"class":"mat-table cdk-table mat-elevation-z8"})[0]
    for row in table("tr"):
        cells = row("td")
        if(len(cells) < 16):
            continue
        cities.append(cells[1].get_text())
        avg_2020.append(cells[2].get_text())
        january.append(cells[3].get_text())
        february.append(cells[4].get_text())
        march.append(cells[5].get_text())
        april.append(cells[6].get_text())
        may.append(cells[7].get_text())
        june.append(cells[8].get_text())
        july.append(cells[9].get_text())
        august.append(cells[10].get_text())
        september.append(cells[11].get_text())
        october.append(cells[12].get_text())
        november.append(cells[13].get_text())        
        december.append(cells[14].get_text())        
        avg_2019.append(cells[15].get_text())

In [3]:
df = pd.DataFrame({ "city":cities, "Avg 2020":avg_2020, "January":january,
              "February":february, "March":march, "April":april, "May": may, "June": june, "July": july,
                   "August": august, "September": september, "October": october, "November": november, "December": december,
                   "Avg 2019": avg_2019
})
df

,city,Avg 2020,January,February,March,April,May,June,July,August,September,October,November,December,Avg 2019
0,"Hotan, China",110.2,93.7,124.7,264.4,176.4,101.9,113.7,85.2,84,100.7,104.2,59.7,51.9,110.1
1,"Ghaziabad, India",106.6,146.3,111.8,76.9,88,84.1,69,62.7,58.5,84.7,157.3,161,178.9,110.2
2,"Bulandshahr, India",98.4,116.9,97.8,71.7,86.4,85.3,65,53.6,57.4,82.2,145,150,167.1,89.4
3,"Bisrakh Jalalpur, India",96,130,99,70.2,82.4,69.1,62,57,54.5,78.3,139.5,133.7,170.2,-
4,"Bhiwadi, India",95.5,100.7,102.3,81.4,66,83.5,69,61.3,57,99.7,157.8,126.5,138.3,83.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4445,"Grantham, USA",5.6,5.5,6.7,4,3.6,3.6,6.1,8,7.2,5,3.5,6,6.7,6
4446,"Utica, USA",5.6,7.7,6.9,4.5,3.3,3.9,4.9,4.8,6.6,6,5.3,7,6.2,5.5
4447,"Bennington, USA",5.6,5.8,7.8,4.8,4.2,4.2,5.1,6.1,6,4.9,4.5,6.5,7.6,5.8
4448,"Targinie, Australia",5.5,7,6.1,4.6,4.4,3.8,4,3.6,4.4,5.5,8.5,8.6,5,7.7
4449,"Oatlands, Australia",5.5,9.3,2.5,3,4.7,6,8.5,9.7,7,4,3.8,3.2,2,5.9

In [5]:
df.to_csv('data.csv', encoding='utf-8', index=False)